@page
@model azure_appvs.Pages.DeploymentslotsModel
@{

    ViewData["Title"] = "Deployment Slots page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Visual Studio Azure app visual studio 2022</h1>
    <h3>Validating deployment page</h3>

</div>